[submodule "sudoku/python"]
	path = sudoku/python
	url = https://github.com/oforero/AIND-Sudoku.git
[submodule "AI-isolation/python"]
	path = AI-isolation/python
	url = https://github.com/oforero/AIND-Isolation.git
[submodule "AIND-Planning/python"]
	path = AIND-Planning/python
	url = https://github.com/oforero/AIND-Planning.git
[submodule "AIND-Recognizer/python"]
	path = AIND-Recognizer/python
	url = https://github.com/oforero/AIND-Recognizer.git
[submodule "aind2-dl"]
	path = aind2-dl
	url = https://github.com/oforero/aind2-dl.git
[submodule "aind2-cnn"]
	path = aind2-cnn
	url = https://github.com/oforero/aind2-cnn.git
[submodule "dog-project"]
	path = dog-project
	url = https://github.com/oforero/dog-project.git
